.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.dialogCustom{
  border-radius: 16px !important;
  box-shadow: 0px 3px 10px #00000029 !important;
  width: 488px !important;
  display: flex;
  align-items: center;
flex-direction: column;
text-align: center;
padding-left: 35px;
padding-right: 35px;
}
.customLabelFillForm {
  font-style: normal;
  font-weight:  bold;
  font-size:  32px !important ;
  letter-spacing: 0px;
  color: #FE5454;
  opacity: 1;
  margin-top: 80px;
}
.placeYourOrrder{
  font-style: normal;
  font-weight:  bold;
  font-size:  32px !important ;
  letter-spacing: 0px;
  color: #FE5454;
  opacity: 1;
  margin-top: 40px;
}
.customLabelMuah{
  text-align: center !important;
  font-style: normal;
  font-weight:  bold;
  font-size:  17px !important ;
  text-align: center;
letter-spacing: 0px;
color: #889296;
opacity: 1;
margin-top: 40px;
}

.poekmonCenter{
  font-style: normal;
  /* font-weight:  bold; */
  font-size:  14px !important ;
letter-spacing: 0.10px;
color: #000000DE !important;
opacity: 1;
}
.pokemomSelector{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 50px;

}
.pokemomSelectorOne{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.customLabelPack{
  text-align: left;
  font-style: normal;
  font-size:  14px !important ;
letter-spacing: 0.15px;
color: #00000099;
opacity: 1;
}

.customButton{
  width: 200px;
height: 36px;
/* UI Properties */
background: #FE5454 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000033;
border-radius: 4px;
opacity: 1;
}
.customSwitch{
  background: #FE5454 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000036;
opacity: 1;
color:#FE5454;
}
.customLabelMuahPack{

  text-align: center !important;
  font-style: normal;
  font-weight:  bold;
  font-size:  18px !important ;
  text-align: center;
font-size:18px;
letter-spacing: 0px;
color: #889296;
opacity: 1;
margin-top: 40px;
margin-bottom: 40px;

letter-spacing: 0px;
color: #889296;
opacity: 1;
}
.containerSelectCustom{
  padding: 0px;
  margin-bottom: 40px;
}
.selectQuantity{
  text-align: left;
font: normal normal normal 14px/17px;
letter-spacing: 0.46px;
color: #000000DE;
opacity: 1;
margin-bottom: 30px;
margin-top: 10px;
}
.containerSelectCustomMain{
  padding: 0px; 
  margin-bottom: 10px;
  margin-top: 30px;
}
.containerSelectCustomRegion{
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.orderDetails{
  padding: 0px;
  margin-top: 20px;
}
.orderDetailsText{
  font-style: normal;
  /* font-weight:  bold; */
  font-size:  14px !important ;
letter-spacing: 0.10px;
color: #000000DE !important;
opacity: 1;
/* display: flex; */
/* justify-content: start; */
}